saftpt_base_lxml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="urn:OECD:StandardAuditFile-Tax:PT_1.04_01"
    xmlns="urn:OECD:StandardAuditFile-Tax:PT_1.04_01"
    elementFormDefault="qualified">

    <xs:element name="AuditFile">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Header" type="xs:anyType"/>
                <xs:element name="MasterFiles" type="xs:anyType" minOccurs="0"/>
                <xs:element name="SourceDocuments" type="xs:anyType" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>

